extends layout

block content
  .outer
    nav
      ul
        li
          a(href='/') back
    .top
      h1 Book Add Form
      .content
        .form-wrapper
          script.
            $(function () {
              var now = new Date()
              var stamp = now.getTime()
              $('#bookid').val(stamp)
              
              $('.form-action').click(function () {
                var myData = {
                  bookId: $('input[name="bookid"]').val(),
                  hasImage: $('select[name="hasImage"]').val(),
                  new: $('select[name="new"]').val(),
                  title: $('input[name="title"]').val(),
                  genre: $('input[name="genre"]').val(),
                  author: $('input[name="author"]').val()
                };
                $.ajax({
                  type: 'post',
                  url: '/add',
                  dataType: 'json',
                  data: myData,
                  success: function (data) {
                    alert(data.success)
                    window.location.href = '/'
                  },
                  error: function (err) {
                    console.log(err)
                  }
                })
              })
            })
          if (false)
            // img(src="/images/"+ item[0].bookId + ".jpg" alt="image: " + item[0].bookId + ".jpg")
          form#form1
            input(type='hidden', name='query' value=)
            .field
              label(for='bookid') Book ID
              input#bookid(type='text', name='bookid', disabled='disabled')
            .field
              label(for='title') Title
              input#title(type='text', name='title', value=)
            .field
              label(for='author') Author
              input#author(type='text', name='author', value=)
            .field
              label(for='genre') Genre
              input#author(type='text', name='genre', value=)
            .field
              label(for='new') New Book
              select#new(name='new')
                if (true)
                  option(value='false') No
                  option(value='true' , selected='selected') Yes
                else 
                  option(value='false', selected='selected') No
                  option(value='true') Yes
            .field
              label(for='hasImage') Has an Image
              select#hasImage(name='hasImage')
                if (false)
                  option(value='false') No
                  option(value='true' , selected='selected') Yes
                else 
                  option(value='false', selected='selected') No
                  option(value='true') Yes
          button.form-action Submit
